.mobile-tab-menu {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 8px 0;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.tab-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #666;
padding: auto;
  font-size: 22px;
  flex: 1;
  cursor: pointer;
}

.tab-item:hover,
.active-tab {
  color: #1890ff;
}

.tab-label {
  margin-top: 4px;
}
