.content.main-content {
  flex: 1;
  margin-left: 200px;
}

@media (max-width: 768px) {
  .content.main-content {
    margin-left:30px; /* Remove margin for smaller screens */
  }
}
:where(.css-dev-only-do-not-override-5uvb3z).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
color: orange !important;
}